<%= form_tag sessions_create_path do %>
  <div class="user-sign-in-form-container">
    <form class="user-sign-in-form">
      <fieldset class="fieldset">
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div style="text-align:center">
          <%= submit_tag "Login", class: "radius button expand success"%>
          <%= link_to "Sign up", new_user_path, class: "radius button expand alert" %>
        </div>
      </fieldset>
    </form>
  </div>
<% end %>
