<div id="newActivityModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
  <h2 id="newActivityModalTitle">New Task</h2>

  <%= form_for(activity) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :due_date %>
      <%= f.date_field :due_date, :ampm => true, :minute_step => 10 %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :priority %><br>
      <%= f.number_field :priority %>
    </div>

    <div class="actions">
      <%= f.submit "Save Acticity", class: "secondary button", "href" => "#",
          "data-reveal-id" => "saveModal"%>
    </div>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="saveModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <h2 id="secondModalTitle">Your task has been saved!</h2>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
