<div id="notice"><%= notice %></div>

<%= render partial: 'new_activity_modal', locals: {activity: @activity} %>

<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to 'To Do List', root_path %>
          </h1>
        </li>
      </ul>
    </nav>
    <br>
  </div>
</div>

<div class="large-3 columns ">
  <div class="panel">
    <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
    <h5>User Name Placeholder</h5>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true"><br>

      <section class="section">
        <h5 class="title"><a href="#">Recreation</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#">Home</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#">Groceries</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#">Work</a></h5>
      </section>
    </div>
  </div>
  <div>
    <%= link_to '<i class="fa fa-plus" title="New Activity"></i> New Activity'.html_safe,
        new_activity_path, class: "radius button small success", remote: true %>
  </div>
  <div id="new-form-container"></div>
</div>

<div class="large-6 columns sortable inline-list" id="all-activities">
  <% @activities.each do |activity| %>
    <%= render partial: "activity", locals: {activity: activity} %>
  <% end %>
</div>

<aside class="large-3 columns hide-for-small" id="complete-activities">
  <h5>Completed Tasks:</h5>
    <ul>
    <% @activities.each do |activity| %>
      <% if activity.complete %>
        <li><i class="fa fa-check" title="Complete"></i> <strong><%= activity.name %></strong></li>
      <% end %>
    <% end %>
    </ul>
</aside>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© John-Cruz 2015</p>
      </div>
    </div>
  </div>
</footer>
